html, body {
	margin: 0;
	overflow: hidden;
	/* font-family: sans-serif; 
	line-height: 1.5; 
	font-family: "Garamond", Times, serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal; */
	/* font-size: 1em; */
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	font-variation-settings:
		"wdth" 120;
}

h1, h2 { 
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	
	/* border-bottom: 1px solid #ccc;  */
	/* padding-bottom: 0.2em;  */
	margin-top: 2em; 
	font-size: 1em;
}

line {
	border-bottom: 1px solid #000; 
	padding-bottom: 0.2em; 
	margin-top: 2em; 
	font-size: 1em;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* position: fixed; */
}

.bottom-right {
  position: absolute;
  bottom: 0px;
  right: 16px;
}

ul { margin-top: 0.5em; }

.container {
	display: flex;
	/* flex-wrap: wrap; */
	width: 100vw;
	height: 100vh;
}

.pict {
	width: 40vw;
	min-width: 400px;	
	flex-grow: 1;
	height: 100vh;
	/* position: fixed; */
	position: relative;
	/* text-align: center; */
	color: white;
}

.curicvit {
	/* position: relative; */
	margin: 10px;
	width: 50vw; 
	flex-grow: 1;
	overflow: auto;
}

.section { 
	margin-bottom: 2em; 
	margin-right: 5em;
}

.entry { 
	margin-bottom: 1em; 
}

.date { 
	font-weight: bold; 
	width: 160px; 
	display: inline-block; 
	vertical-align: top; 
}

.description { 
	font-weight: bold; 
	/* width: 180px;  */
	display: inline-block; 
	vertical-align: top; 
}

.sub {
	height: 300vh;
}